
<h1><%=@venue.name%> Details</h1>

<h4>Location: <%=@venue.location %></h4>

<% if @shows.any?() %>
  <p> Bands that have played here:</p>
  <ul>
    <% @shows.each() do |show| %>
      <% band_id = show.band %>
      <% band = Band.find(band_id)%>
      <li><%=band.name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= show.date %></li>
    <% end %>
  </ul>

<% else %>
  <p> No bands have played here yet!</p>
<% end %>
